*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container_slider{
    width: 700px;
    margin: 10rem auto;
}
.slides img{
    width: 100%;
    max-width: 700px;
    height: 400px;
    object-fit: cover;
}

.slider .slides:not(.slides.active){
    display: none;
}

.slider .slides.active{
    display: block;
}

.slide_caption{
    margin-bottom: 1rem;
}

.next_btn,
.prev_btn{
    background-color: #cccccc85;
    padding: 8px 10px;
    margin: 1rem;
    cursor: pointer;
    color: lightgrey;
}

